<app-header
  [isModal]="true" 
  [title]="appointmentEdit ? 'Actualizar Cita' : 'Agregar Cita'"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form 
      class="auth-form"
      (ngSubmit)="submit()"
      [formGroup]="form"
      (keypres.enter)="submit()">

      <!-- Caja de texto para el nombre -->

      <app-custom-input
        icon="person"
        autocomplete="name"
        [control]="form.controls.name"
        type="text"
        label="Nombre">
      </app-custom-input>
      <div 
        class="validators" 
        *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
        <div *ngIf="form.controls.name.errors?.['minlength']">Ingrese al menos 4 caracteres</div>
      </div>   
      <app-custom-input
        icon="person-add"
        autocomplete="lastName"
        [control]="form.controls.lastName"
        type="text"
        label="Apellido">
      </app-custom-input>
      <div 
        class="validators" 
        *ngIf="form.controls.lastName.errors && form.controls.lastName.touched">
        <div *ngIf="form.controls.lastName.errors?.['required']">El apellido es requerido</div>
        <div *ngIf="form.controls.lastName.errors?.['minlength']">Ingrese al menos 4 caracteres</div>
      </div>   
      <ion-item>
        <ion-label>Fecha: {{this.form.controls.date.value}}</ion-label>
      </ion-item>
      <ion-item *ngIf="appointmentEdit && appointmentEdit.status===3">
        <ion-label>Motivo de cancelación: {{this.form.controls.description.value}}</ion-label>
      </ion-item>
      <!-- Botón para registrar o actualizar -->
      <ion-button 
        class="ion-margin"
        type="submit"
        mode="ios"
        [disabled]="form.invalid"
        *ngIf="!appointmentEdit">
        Agregar Cita
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button> 
      <ion-button 
        class="ion-margin"
        type="submit"
        mode="ios"
        [disabled]="form.invalid"
        *ngIf="appointmentEdit && (appointmentEdit.status !== 1 && appointmentEdit.status !== 3)">
        Actualizar Cita
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button> 
      <ion-button 
        class="ion-margin"
        mode="ios"
        [disabled]="form.invalid"
        (click)="confirmFinishAppointment()"
        *ngIf="appointmentEdit && (appointmentEdit.status !== 1 && appointmentEdit.status !== 3)"
        color="warning">
        Finalizar Cita
        <ion-icon slot="end" name="thumbs-up"></ion-icon>
      </ion-button> 
      <ion-button 
        class="ion-margin"
        mode="ios"
        [disabled]="form.invalid"
        (click)="confirmDeleteAppointment()"
        *ngIf="appointmentEdit && (appointmentEdit.status !== 1 && appointmentEdit.status !== 3)"
        color="danger">
        Cancelar Cita
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button> 
    </form>
  </div>
</ion-content>
