<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="12" size-md="9" size-lg="10">
      <ion-searchbar fill="outline" animated="true" mode="ios" [(ngModel)]="searchTerm" (ionInput)="filterProducts()" placeholder="Buscar cortes de cabello..." animated="true"></ion-searchbar>
    </ion-col>
    <ion-col size="12" size-sm="12" size-md="3" size-lg="2">
      <ion-select label="Filtrar por categoria" interface="popover" label-placement="floating" (ionChange)="select($event)">
        <ion-select-option *ngFor="let p of categories" [value]="p">{{p}}</ion-select-option>
        <ion-select-option [value]="null">Ninguno</ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && filteredProducts.length">
        <div>
          <h5>{{filteredProducts.length}}</h5>
          <p>Pruductos</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
  <!-- Listado de cortes -->
  <ion-grid *ngIf="!loading" class="galeria">
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let p of filteredProducts">
        <ion-card mode="ios" class="responsive-card">
          <img [src]="p.image" class="responsive-image" />
          <ion-card-header>
            <ion-card-title>{{p.name}}</ion-card-title>
            <ion-card-subtitle>Producto</ion-card-subtitle>
          </ion-card-header>
  
          <ion-card-content>
            <h2>Descripción: {{p.description}}</h2>
            <h2>Categoria: {{p.category}}</h2>
            <ion-chip>
              <ion-icon name="cash" color="success"></ion-icon>
              <ion-label>${{p.price}}</ion-label>
            </ion-chip>
          </ion-card-content>
  
          <!-- Botones -->
          <div class="button-wrapper" *ngIf="user().isAdmin">
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="primary" size="default" (click)="addUpdateProduct(p)">
                  <ion-icon slot="start" name="create-outline"></ion-icon>
                  Editar
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="danger" size="default" (click)="confirmDeleteProduct(p)">
                  <ion-icon #trashIcon name="trash-outline"></ion-icon>
                  Eliminar
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

   <!-- ====== Cuando no hay productos disponibles ====== -->
   <div *ngIf="!loading && !filteredProducts.length" class="empty">
    <ion-icon  name="shield-outline"></ion-icon>
    <h3>No hay productos disponibles</h3>
  </div>
