<ion-item lines="none" class="custom-input">
  <ion-icon
    color="primary"
    *ngIf="icon"
    slot="start"
    [name]="icon">
  </ion-icon>
  <ion-input
  *ngIf="isTimePicker"
    type="text"
    [label]="label"
    [formControl]="control"
    labelPlacement="floating"
    readonly
    (click)="openTimePicker()"
    [value]="control.value"
    placeholder="Selecciona una hora"
    labelPlacement="floating">
  </ion-input>
  <ion-input
    *ngIf="!isTimePicker"
    [type]="type"
    [label]="label"
    [autocomplete]="autocomplete"
    [formControl]="control"
    labelPlacement="floating">
  </ion-input>
  <ion-button
    *ngIf="isPassword"
    (click)="showOrHidePassword()"
    expand="block"
    fill="clear"
    shape="round"
    slot="end">
    <ion-icon
      slot="icon-only"
      [name]="hide? 'eye-outline' : 'eye-off-outline'">
    </ion-icon>
  </ion-button>
</ion-item>

<ion-modal [isOpen]="showDateTime" (didDismiss)="closeTimePicker()" class="time-modal">
  <ng-template class="modal-content">
    <ion-datetime
      presentation="time"
      [preferWheel]="true"
      (ionChange)="onTimeSelected($event)"
      showDefaultButtons="true"
      cancelText="Cancelar"
      doneText="Aceptar"
      >
      <span slot="title">Seleccione la hora</span>
    </ion-datetime>
  </ng-template>
</ion-modal>
