:host {
    display: block;
}

input {
    border: 1px solid var(--border-color);
    border-radius: 8px; // Bordes redondeados
    padding: 10px;
    font-size: 16px; // Tamaño de fuente
    background-color: #fff; // Fondo blanco
    transition: border-color 0.3s; // Transición para el borde

    &:focus {
        //border-color: $primary-color; // Cambia el color del borde al enfocar
        outline: none; // Sin borde por defecto del navegador
    }
}

ion-datetime {
  --background: rgb(227, 218, 201); /* Basado en --ion-color-secondary */
  --background-rgb: 227, 218, 201;
  --wheel-highlight-background: rgb(162, 214, 194); /* Basado en --ion-color-tertiary */
  --wheel-highlight-border-radius: 48px;
  --wheel-fade-background-rgb: 227, 218, 201; /* Basado en --ion-color-secondary */
}

ion-datetime::part(wheel-item) {
  color: var(--ion-color-tertiary-contrast); /* #A2D6C2 */
}

ion-datetime::part(wheel-item active) {
  color: var(--ion-color-secondary); /* #E3DAC9 */
}

time-modal{
  margin: auto auto;
}

ion-modal {
  --width: auto; /* Ajusta al contenido */
  --height: auto; /* Ajusta al contenido */
  --max-width: 350px; /* Establece un tamaño máximo */
  --border-radius: 16px; /* Bordes redondeados para estilo */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional, para darle profundidad */
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  max-width: 350px;
  background: var(--ion-background-color, #ffffff); /* Color de fondo del modal */
  border-radius: 16px;
}


