:host {
    display: block;
}

input {
    border: 1px solid var(--border-color);
    border-radius: 8px; // Bordes redondeados
    padding: 10px;
    font-size: 16px; // Tamaño de fuente
    background-color: #fff; // Fondo blanco
    transition: border-color 0.3s; // Transición para el borde

    &:focus {
        //border-color: $primary-color; // Cambia el color del borde al enfocar
        outline: none; // Sin borde por defecto del navegador
    }
}