/* Primera fila: Card ocupa el 80% y está centrado */
.first-row-card {
    width: 80%;
    margin: 0 auto; /* Centrado */
  }
  ion-card-title{
    text-align: center;
  }
  ion-card-content{
    text-align: center;
  }

  ion-segment {
    margin: 16px 0;
  }

  ion-segment-button {
    --indicator-color: #3880ff; /* Cambiar color del indicador */
  }

  ion-card {
    text-align: center;
  }
