<app-header title="Notificaciones"></app-header>

<ion-content>
  <ion-card>
    <ion-title class="center-title">Notificaciones</ion-title>
    <div class="center-avatar">
      <ion-avatar>
        <img [src]="user().image" alt="Avatar">
      </ion-avatar>
    </div>
    <ion-item lines="none">
      <ion-label>
        <h1 class="center-name">{{user().name}}</h1>
      </ion-label>
    </ion-item>
    <ion-list class="notifications" mode="ios">
      <ion-item-sliding class="product-item" *ngFor="let notification of notifications">
        <ion-item>
          <ion-label>
            <div *ngIf="notification.type===0">
              <ion-icon color="danger" slot="start" name="trash" size="large"></ion-icon>
              <ion-label>{{notification.message}}</ion-label>
            </div>
            <div *ngIf="notification.type===1">
              <ion-icon color="warning" slot="start" name="thumbs-up" size="large"></ion-icon>
              <ion-label>{{notification.message}}</ion-label>
            </div>
            <div *ngIf="notification.type===2">
              <ion-icon color="success" slot="start" name="thumbs-up" size="large"></ion-icon>
              <ion-label>{{notification.message}}</ion-label>
            </div>
            <div *ngIf="notification.type===3">
              <ion-icon color="success" slot="start" name="checkmark-circle-outline" size="large"></ion-icon>
              <ion-label>{{notification.message}}</ion-label>
            </div>
          </ion-label>
        </ion-item>
  
        <ion-item-options>
          <ion-item-option (click)="confirmDeleteNotification(notification)" color="danger">
            <ion-icon class="option-btn" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <div *ngIf="!loading && !notifications.length" class="empty">
      <ion-icon  name="shield-outline"></ion-icon>
      <h3>No hay notificaciones disponibles</h3>
    </div>
  </ion-card>
</ion-content>
