<app-header [isModal]="true"  title="CLIENTES"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterUsers()" placeholder="Buscar clientes..."></ion-searchbar>

    <!-- Cuadro de resumen de ventas -->
    <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && filteredUsers.length">
      <div>
        <h5>{{filteredUsers.length}}</h5>
        <p>Clientes</p>
      </div>
    </ion-card>

    <!-- Listado de citas -->
    <ion-list *ngIf="!loading">
      <ion-item-sliding class="product-item" *ngFor="let p of filteredUsers">
        <ion-item>
          <ion-card mode="ios">
            <img [src]="p.image" />
            <ion-card-header>
              <ion-card-title>{{p.name}} {{p.lastName}}</ion-card-title>
              <ion-card-subtitle>Cliente</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <p>Celular: {{p.phone}}</p>
              <p>Email: {{p.email}}</p>
            </ion-card-content>
          </ion-card>
        </ion-item>

        <!-- ===== Opciones para cada producto ===== -->
        <ion-item-options>
          <!-- Editar -->
          <ion-item-option (click)="addUpdateClient(p)">
            <ion-icon class="option-btn" name="create-outline"></ion-icon>
          </ion-item-option>

          <!-- Eliminar -->
          <ion-item-option (click)="confirmDeleteClient(p)" color="danger">
            <ion-icon class="option-btn" name="trash-outline"></ion-icon>
          </ion-item-option>

        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

     <!-- ====== Cuando no hay productos disponibles ====== -->
     <div *ngIf="!loading && !filteredUsers.length" class="empty">
      <ion-icon  name="shield-outline"></ion-icon>
      <h3>No hay clientes disponibles</h3>
    </div>

</ion-content>
