<app-header title="CITAS"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <!-- Cuadro de resumen de ventas -->
    <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && appointments.length">
      <div>
        <h5>{{appointments.length}}</h5>
        <p>Citas</p>
      </div>
    </ion-card>
  
    <!-- Listado de citas -->
    <ion-list *ngIf="!loading && !user().isBarber">
      <ion-item-sliding class="product-item" *ngFor="let p of appointments">
        <ion-item>
          <ion-label>
            <div class="name">{{p.date | date: 'fullDate' }} </div>
            <div class="data">
              <strong>Hora:</strong> {{p.date | date : 'shortTime'}} <strong *ngIf="p.date.getHours()<12">AM</strong> <strong *ngIf="p.date.getHours()>12">PM</strong><br>
            </div>
            <div class="data">
              <strong>Barbero: {{p.barber.name +" - "+ p.barber.phone}}</strong><br>
            </div>
            <ion-chip color="success" mode="ios" outline="true" *ngIf="p.status===0">
              <ion-label>Estado: Pendiente</ion-label>
            </ion-chip>
            <ion-chip color="warning" mode="ios" outline="true" *ngIf="p.status===1">
              <ion-label>Estado: Finalizado</ion-label>
            </ion-chip>
            <ion-chip color="warning" mode="ios" outline="true" *ngIf="p.status===2">
              <ion-label>Estado: Movida - Pendiente</ion-label>
            </ion-chip>
            <ion-chip color="danger" mode="ios" outline="true" *ngIf="p.status===3">
              <ion-label>Cancelada</ion-label>
            </ion-chip>
            <div class="data" *ngIf="p.status===3 && p.description">
              <strong>Motivo de cancelación: {{p.description}}</strong><br>
            </div>
          </ion-label>
        </ion-item>
  
        <ion-item-options *ngIf="p.status !== 1 && p.status !== 3">
          <ion-item-option (click)="confirmDeleteAppointment(p)" color="danger">
            <ion-icon class="option-btn" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
    <div *ngIf="!loading && !appointments.length && !user().isBarber" class="empty">
      <ion-icon  name="shield-outline"></ion-icon>
      <h3>No hay citas pendientes disponibles</h3>
    </div>
  
    <!-- Botón para cargar formulario modal -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!user().isBarber">
      <ion-fab-button (click)="addUpdateAppointment()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  <app-calendar *ngIf="user().isBarber"></app-calendar>
</ion-content>
