<app-header title="Cuenta"></app-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <label *ngIf="isEditing" class="upload-label">
          <!-- Input para cargar la foto (aparece solo en modo edición) -->
          <input type="file" (change)="onImageChange($event)" hidden>
          <button ion-button="true" type="button" (click)="capturePhoto()">Tomar Foto</button>
          <button ion-button="true" type="button" (click)="triggerFileInput()">Escoger foto</button>
          <img [src]="editedUser?.image || image" alt="Avatar" />
        </label>
        <img *ngIf="!isEditing" [src]="user().isBarber ? editedUser?.image || image : image" alt="Avatar" />
      </ion-avatar>
      <ion-label>
        <ion-item>
          <ion-label>
            <p>Nombre</p>
            <ion-input [readonly]="!isEditing" [(ngModel)]="editedUser.name"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Apellido</p>
            <ion-input [readonly]="!isEditing"  [(ngModel)]="editedUser.lastName"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Email</p>
            <ion-input [readonly]="!isEditing"  [(ngModel)]="editedUser.email"></ion-input>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>Celular</p>
            <ion-input [readonly]="!isEditing"  [(ngModel)]="editedUser.phone"></ion-input>
          </ion-label>
        </ion-item>
      </ion-label>
    </ion-item>
      <ion-list inset="true">
        <ion-item [button]="true" mode="ios" (click)="editProfile()">
          <ion-icon color="primary" slot="start" [name]="isEditing ? 'save' : 'create'" size="large"></ion-icon>
          <ion-label>{{isEditing?'Guardar Cambios':'Editar Perfil'}}</ion-label>
        </ion-item>
      </ion-list>
  </ion-card>

  <ion-card *ngIf="user().isAdmin">
    <ion-card-header>
      <ion-card-subtitle>
        Opciones de
      </ion-card-subtitle>
      <ion-card-title>
        Administrador
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list inset="true">
        <ion-item [button]="true" mode="ios" (click)="openBranchs()">
          <ion-icon color="primary" slot="start" name="storefront" size="large"></ion-icon>
          <ion-label color="primary">Administrar Sucursales</ion-label>
        </ion-item>
        <ion-item [button]="true" mode="ios" (click)="openBarbers()" >
          <ion-icon color="primary" slot="start" name="cut" size="large"></ion-icon>
          <ion-label color="primary">Administrar Barberos</ion-label> 
        </ion-item>
        <ion-item [button]="true" mode="ios" (click)="openClients()">
          <ion-icon color="primary" slot="start" name="people" size="large"></ion-icon>
          <ion-label color="primary">Administrar Clientes</ion-label> 
        </ion-item>
        <ion-item [button]="true" mode="ios" (click)="openHaircutsCategories()">
          <ion-icon color="primary" slot="start" name="pricetag" size="large"></ion-icon>
          <ion-label color="primary">Categorias Cortes</ion-label> 
        </ion-item>
        <ion-item [button]="true" mode="ios" (click)="openProductsCategories()">
          <ion-icon color="primary" slot="start" name="pricetag" size="large"></ion-icon>
          <ion-label color="primary">Categorias Productos</ion-label> 
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-button
        type="submit"
        expand="block"
        mode="ios"
        class="submit"
        color="danger">
        Cerrar sesión
  </ion-button>
</ion-content>
