<app-header 
  [isModal]="true" 
  [title]="haircut ? 'Actualizar corte de cabello' : 'Agregar corte de cabello'"></app-header>

<ion-content [fullscreen]="true">
  <div class="d-flex-center">
    <form 
      class="auth-form"
      (ngSubmit)="submit()"
      [formGroup]="form"
      (keypres.enter)="submit()">

      <ion-avatar *ngIf="form.value.image">
        <img [src]="form.value.image" />
      </ion-avatar>
      <!-- Si existe o no imagen -->
      <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
      <br>
      <!-- botón para tomar imagen -->
      <ion-button (click)="takeImage()" mode="ios" size="small" shape="round">
        Tomar/Seleccionar
      </ion-button>

      <!-- Caja de texto para el nombre -->

      <app-custom-input
        icon="cut"
        autocomplete="name"
        [control]="form.controls.name"
        type="text"
        label="Corte de cabello">
      </app-custom-input>
      <div 
        class="validators" 
        *ngIf="form.controls.name.errors && form.controls.name.touched">
        <div *ngIf="form.controls.name.errors?.['required']">El nombre es requerido</div>
        <div *ngIf="form.controls.name.errors?.['minlength']">Ingrese al menos 4 caracteres</div>
      </div> 
      
      <app-custom-input
        icon="clipboard"
        autocomplete="name"
        [control]="form.controls.description"
        type="text"
        label="Descripción del corte">
      </app-custom-input>
      <div 
        class="validators" 
        *ngIf="form.controls.description.errors && form.controls.description.touched">
        <div *ngIf="form.controls.description.errors?.['required']">La dirección es requerida</div>
      </div>
      <ion-select fill="outline" class="select" label="Categoría" interface="popover"  okText="Aceptar" cancelText="Cancelar" (ionChange)="selectOnChange($event)">
        <ion-select-option *ngFor="let p of categories" [value]="p.name">{{p.name}}</ion-select-option>
      </ion-select>
      <!-- Botón para registrar o actualizar -->
      <ion-button 
        class="ion-margin"
        type="submit"
        mode="ios"
        [disabled]="form.invalid">
        {{haircut ? 'Actualizar Corte' : 'Agregar Corte'}}
        <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
      </ion-button> 
    </form>
  </div>
</ion-content>
