<app-header [isModal]="true"  title="SUCURSALES"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar fill="outline" animated="true" mode="ios" [(ngModel)]="searchTerm" (ionInput)="filterBranchs()" placeholder="Buscar sucursales..." animated="true"></ion-searchbar>
    <!-- Cuadro de resumen de ventas -->
    <ion-card mode="ios" color="secondary" class="d-flex-center ion-text-center" *ngIf="!loading && filteredBranchs.length">
      <div>
        <h5>{{filteredBranchs.length}}</h5>
        <p>Sucursales</p>
      </div>
    </ion-card>
  
    <!-- Listado de citas -->
    <ion-list *ngIf="!loading">
      <ion-item-sliding class="product-item" *ngFor="let p of filteredBranchs">
        <ion-item>
          <ion-card mode="ios">
            <img [src]="p.image" />
            <ion-card-header>
              <ion-card-title>{{p.name}}</ion-card-title>
              <ion-card-subtitle>Sucursal</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Ubicación: {{p.address}}
            </ion-card-content>
          </ion-card>
        </ion-item>
  
        <!-- ===== Opciones para cada producto ===== -->
        <ion-item-options>
          <!-- Editar -->
          <ion-item-option (click)="addUpdateBranch(p)">
            <ion-icon class="option-btn" name="create-outline"></ion-icon>
          </ion-item-option>
  
          <!-- Eliminar -->
          <ion-item-option (click)="confirmDeleteBranch(p)" color="danger">
            <ion-icon class="option-btn" name="trash-outline"></ion-icon>
          </ion-item-option>
  
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  
     <!-- ====== Cuando no hay productos disponibles ====== -->
     <div *ngIf="!loading && !filteredBranchs.length" class="empty">
      <ion-icon  name="shield-outline"></ion-icon>
      <h3>No hay sucursales disponibles</h3>
    </div>
  
    <!-- Botón para cargar formulario modal -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addUpdateBranch()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
